### This is an example environment file, which will be added to the command
### when develop.sh will try to run the container image, which it just built.
### 
### You can use this file to add environment variables to be used during
### the test runs during development