#!/bin/bash

### Environment for develop.sh

PROJECT_NAME="zabbix-wan-connector"
DEV_TAG=$(date +"%Y%m%d_%H%M%S")
TAG="szpeter80/${PROJECT_NAME}:ubuntu-2404--$DEV_TAG"
TAG_LATEST="szpeter80/${PROJECT_NAME}"
export TAG TAG_LATEST

# This is a mount: host dir will be created and mounted to the container
# For this project it provides permanent storage so the initial check for this will pass
DATADIR_ON_HOST="path to your container dev env's temp dir for testing/${PROJECT_NAME}"
DATADIR_IN_CONTAINER="/mnt/zabbix-wan-connector"

RUN_ARGS_EXTRA=" --cap-add=NET_ADMIN"
export DATADIR_ON_HOST DATADIR_IN_CONTAINER RUN_ARGS_EXTRA

# This is used if "develop.sh transfer" is called
# SSH parameters
REMOTE_DOCKERUSER='admin-user'
REMOTE_DOCKERHOST='hostname or ip'
REMOTE_DOCKERPORT='tcp port for ssh'
# Path to docker binary on remote host
REMOTE_DOCKERPATH='/usr/local/bin/docker'
export REMOTE_DOCKERUSER REMOTE_DOCKERHOST REMOTE_DOCKERPORT REMOTE_DOCKERPATH