### Environment for develop.sh
###
### This file must be in the project directory, the .example suffix removed,
### and from that directory you should call ../develop.sh

PROJECT_NAME="zabbix-wan-connector"
DEV_TAG=$(date +"%Y%m%d_%H%M%S")
TAG="szpeter80/${PROJECT_NAME}:ubuntu-2404--$DEV_TAG"
TAG_LATEST="szpeter80/${PROJECT_NAME}"
export TAG TAG_LATEST

# One bind mount is included, usually you need such for configs/etc
DATADIR_ON_HOST="/tmp/docker-temp/${PROJECT_NAME}"
DATADIR_IN_CONTAINER="/mnt/my-project"

RUN_ARGS_EXTRA="--rm --cap-add=NET_ADMIN"
export DATADIR_ON_HOST DATADIR_IN_CONTAINER RUN_ARGS_EXTRA

REMOTE_DOCKERUSER='foo'
REMOTE_DOCKERHOST='myhost'
REMOTE_DOCKERPORT='10022'
REMOTE_DOCKERPATH='/usr/local/bin/docker'
export REMOTE_DOCKERUSER REMOTE_DOCKERHOST REMOTE_DOCKERPORT REMOTE_DOCKERPATH