#!/bin/bash

### Environment for develop.sh

PROJECT_NAME="my project"
DEV_TAG=$(date +"%Y%m%d_%H%M%S")
TAG="szpeter80/${PROJECT_NAME}:alpine--$DEV_TAG"
TAG_LATEST="szpeter80/${PROJECT_NAME}"
export TAG TAG_LATEST


DATADIR_ON_HOST="/tmp/docker-temp/${PROJECT_NAME}"
DATADIR_IN_CONTAINER="/mnt/my-project"

RUN_ARGS_EXTRA="--cap-add=NET_ADMIN"
export DATADIR_ON_HOST DATADIR_IN_CONTAINER RUN_ARGS_EXTRA
